<settings>
    <setting propertyKey="@Properties.ShowDate" title="@Strings.MenuItemShowDate">
        <settingConfig type="list">
            <listEntry value="1">Yes</listEntry>
            <listEntry value="0">No</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ShowBattery" title="@Strings.MenuItemShowBattery">
        <settingConfig type="list">
            <listEntry value="1">Yes</listEntry>
            <listEntry value="0">No</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ShowHrSubdial" title="@Strings.MenuItemShowHrSubdial">
        <settingConfig type="list">
            <listEntry value="1">Yes</listEntry>
            <listEntry value="0">No</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ShowSteps" title="@Strings.MenuItemShowSteps">
        <settingConfig type="list">
            <listEntry value="1">Yes</listEntry>
            <listEntry value="0">No</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.ShowSunLines" title="@Strings.MenuItemShowSunLines">
        <settingConfig type="list">
            <listEntry value="1">Yes</listEntry>
            <listEntry value="0">No</listEntry>
        </settingConfig>
    </setting>


</settings>
